<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Salve mais</title>

	<!-- [ css libs ] -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel="stylesheet" type="text/css">

    <!-- [ css core ] -->
    <link rel="stylesheet" type="text/css" href="dist/css/style.css">
</head>
<body>
